@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

//site-colors
$background-color: white;
$primary-background-color: darkgreen;
$secondary-background-color: rgb(237, 236, 236);
$accent-color: black;
$color-primary: rgb(162, 160, 160);
$color-secondary: rgb(0, 0, 0);

//site-fonts
$primary-font: 'Open Sans', sans-serif;
$heading-font: 'Oswald', sans-serif;
