@import '../styles/variables.scss';

.search-panel {
  transition: transform 3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60vw;
  margin-top: 3.5em;
  h2 {
    color: $accent-color;
    font-weight: 500;
    font-size: 1.8rem;
    margin: 2rem 2rem 1rem 2rem;
    text-shadow: 0px 4px 3px rgba(97, 97, 97, 0.4),
      0px 8px 13px rgba(130, 130, 130, 0.1), 0px 18px 23px rgba(87, 87, 87, 0.1);
  }
  h3 {
    font-family: $primary-font;
    color: $accent-color;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0;
    text-transform: none;
    margin: 0;
  }

  .site-logo-container {
    height: 4.5rem;
    height: fit-content;
  }

  .search-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .submit-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0.8rem auto;

    button {
      height: 2.5rem;
      width: 12rem;
      box-shadow: none;
      font-size: 1rem;

      &:enabled {
        transition: color 3s ease;
        animation: breathingOutBtn 2s ease;
      }

      &:disabled {
        width: 30rem;
        transition: display 3s ease;
        font-size: 1.1rem;
        background-color: transparent;
        color: $accent-color;
        opacity: 1;
      }

      &:hover:disabled {
        cursor: inherit;
      }
    }
  }
}

@keyframes breathingOutBtn {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
